<a href="https://colab.research.google.com/github/kawano3/python-colabo/blob/master/2020_7_15(%E6%B0%B4).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# range(20)の範囲内でiを0から繰り返す
# 繰り返す処理は　print(i)
# 引数iをプリントする
for i in range(20):
    print(i)
# 演習：range(20)の数字を変えてみる

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
# nameベクトル定義
names = ['4年河野', '4年原', '4年外園', '4年江頭','大学院_伊藤ゼミ_八重島', '3年中村','2年大西', '2年菊池', '2年山崎']
for i in range(9):
    print(names[i])

4年河野
4年原
4年外園
4年江頭
大学院_伊藤ゼミ_八重島
3年中村
2年大西
2年菊池
2年山崎

In [ ]:
# 繰り返す　range(5)の数字を変えてみる
for i in range(9):
    print('{}さん'.format(names[i]))

4年河野さん
4年原さん
4年外園さん
4年江頭さん
大学院_伊藤ゼミ_八重島さん
3年中村さん
2年大西さん
2年菊池さん
2年山崎さん

In [ ]:
#　ベクトルnamesの長さをlenで読み込んで、これをrangeの範囲指定に使う。
for i in range(len(names)):
    print('{}さん'.format(names[i]))

for test in names:
    print('{}さん'.format(test))

4年河野さん
4年原さん
4年外園さん
4年江頭さん
大学院_伊藤ゼミ_八重島さん
3年中村さん
2年大西さん
2年菊池さん
2年山崎さん
4年河野さん
4年原さん
4年外園さん
4年江頭さん
大学院_伊藤ゼミ_八重島さん
3年中村さん
2年大西さん
2年菊池さん
2年山崎さん

In [ ]:
# testは任意の文字列でよいので各自やってみる
for i, name in enumerate(names):
    message = '{}番目: {}さん'.format(i+1, name)
    print(message)

1番目: 4年河野さん
2番目: 4年原さん
3番目: 4年外園さん
4番目: 4年江頭さん
5番目: 大学院_伊藤ゼミ_八重島さん
6番目: 3年中村さん
7番目: 2年大西さん
8番目: 2年菊池さん
9番目: 2年山崎さん

In [35]:

#以下をベクトルに定義し、'ミーティング'をプログラムで加え、日時の順番もあわせて出力させましょう。
company = ["三井住友海上火災保険株式会社_7月20日（月）15時よりzoom","株式会社イトーキ_7月21日（火）10時よりzoom","丸井グループ_7月21日（火）15時よりzoom","株式会社ハローデイ_7月22日（水）15時よりzoom"]

for i,zooms in enumerate(company):
  mtg = '{}番目：{}ミーティング'.format(i+1,zooms)
  print(mtg)

1番目：三井住友海上火災保険株式会社_7月20日（月）15時よりzoomミーティング
2番目：株式会社イトーキ_7月21日（火）10時よりzoomミーティング
3番目：丸井グループ_7月21日（火）15時よりzoomミーティング
4番目：株式会社ハローデイ_7月22日（水）15時よりzoomミーティング